@media screen and (max-width: 900px) {
    header{
        display: flex;
        flex-direction: column;
    }

    header a{
        top: -25px;
        font-size: 0.7em;
        text-align: center;
    }

    header a:hover{
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.473);
        background-color: white;
        font-size: 0.75em;
        color: #000;
        transition: font-size 0.4s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    .logo{
        
        position: relative;
        top: -20px;
        left: 0px;
        
        
    }
   
    main h1{
        display: block;
        text-align: center;
    }

    main h2{
        display: flex;
        position: relative;
        margin-right: auto;
        margin-left: auto;
        left: -10px;
        width: 125px;
    }

    footer{
        display: flex;
        flex-direction: column;
    }
    footer img{
        position: relative;
        max-height: 430px;
        max-width: 400px;
        min-width: 280px;
        min-height: 250px;
        margin-left: auto;
        margin-right: auto;
    }
}